<app-header title="Veranstaltungen ({{ count }})"></app-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-searchbar
    animated
    showCancelButton="focus"
    mode="ios"
    placeholder="Suchen..."
    cancelButtonText="Abbrechen"
    (ionChange)="search($event)"
    class="event__search"
    enterkeyhint="search"
    #searchbar
  ></ion-searchbar>

  <div class="noEvents" *ngIf="loaded && blocks.length === 0">
    Aktuell gibt es keine anstehenden Veranstaltungen.
  </div>

  <div class="noEvents" *ngIf="!loaded && blocks.length === 0">
    Veranstaltungen werden geladen...
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <div
    class="noEvents"
    *ngIf="loaded && blocks.length > 0 && searchbar && searchbar.value !== '' && displayedBlocks.length === 0"
  >
    Deine Suche hat keine Treffer ergeben
  </div>

  <div *ngIf="blocks.length > 0">
    <app-block
      *ngFor="let block of displayedBlocks"
      [block]="block"
    ></app-block>
  </div>
</ion-content>
