p {
  margin: 0;
}

// alert of ion-select
.alert-wrapper.sc-ion-alert-md {
  min-width: 25%;

  @media only screen and (max-width: 768px) {
    min-width: 80%;
  }
}

// fix bug that ion-textarea gets cropped
.native-textarea.sc-ion-textarea-md,
.textarea-wrapper.sc-ion-textarea-md,
.textarea-wrapper.sc-ion-textarea-ios,
.native-textarea.sc-ion-textarea-ios {
  min-height: 100px;
}
