:root {
  --app-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  --app-border-radius: 4px;

  // --app-color-grey-light: #ffffff;
  // --app-color-grey-medium: #ffffff;
  // --app-color-grey-dark: #f9f9f9;
  // --app-color-grey-extradark: #444;

  --ion-background-color: var(--app-color-grey-light);
  --ion-background-color-rgb: 255, 255, 255;
  --ion-item-background: var(--app-color-grey-light);
}

body.dark {
  --app-color-grey-light: #121212;
  --app-color-grey-medium: #1d1d1d;
  --app-color-grey-dark: #272727;
  --app-color-grey-extradark: #373737;

  --ion-background-color: var(--app-color-grey-light);
  --ion-background-color-rgb: 18, 18, 18;
  --ion-item-background: var(--app-color-grey-light);
}
