.content {
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 24px;
  --padding-bottom: 24px;
}

.placeholder {
  margin: 0 10px 20px 10px;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
