node_modules
.DS_Store
www
dist
*.local

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

# Log files
logs
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.eslintcache
