<div
  *ngIf="event"
  class="event"
  [class.task--last]="isLast"
  [routerLink]="['/event-details', event.id]"
>
  <div class="event__content">
    <ion-label *ngIf="event.name" class="event__name">{{
      event.name
    }}</ion-label>

    <!-- Meta -->
    <div class="event__meta">
      <!-- start -->
      <ion-text *ngIf="event.start"
        >Beginn: {{ event.start | date: 'H:mm' }} Uhr</ion-text
      >

      <!-- end -->
      <ion-text *ngIf="event.end"
        >Ende: {{ event.end | date: 'H:mm' }} Uhr</ion-text
      >

      <!-- location -->
      <ion-text class="event__location" *ngIf="event.location !== ''"
        >Ort: {{ event.location }}</ion-text
      >
    </div>
  </div>
</div>
