@import "mixin";

.page {
  &__content {
    padding: 40px;

    @include breakpoint(s) {
      padding: 20px;
    }
  }
}

.grid {
  $gap: 30px;

  display: grid;
  gap: $gap;

  &--2 {
    grid-template-columns: 1fr 1fr;

    @include breakpoint(m) {
      grid-template-columns: 1fr;
    }
  }

  &-spacing {
    &--top {
      margin-top: $gap;
    }

    &--bottom {
      margin-bottom: $gap;
    }
  }
}

.flex {
  display: flex;
  align-items: center;

  &--between {
    justify-content: space-between;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}
