<app-header title="Vorlesungen {{ course }}" *ngIf="!isArchive">
  <div class="slot--headerActions">
    <ion-button
      fill="clear"
      shape="round"
      (click)="triggerArchive()"
      title="Archivansicht anzeigen"
      class="archive__icon"
    >
      <ion-icon name="eye"></ion-icon>
    </ion-button>
  </div>
</app-header>
<app-header title="Archiv {{ course }}" *ngIf="isArchive">
  <div class="slot--headerActions">
    <ion-button
      fill="clear"
      shape="round"
      (click)="triggerArchive()"
      title="Archivansicht verstecken"
      class="archive__icon"
    >
      <ion-icon name="eye-off"></ion-icon>
    </ion-button>
  </div>
</app-header>

<ion-content class="app-spacing app-spacing--mobile" #content>
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" *ngIf="!isArchive">
    <ion-refresher-content
      pullingIcon="chevron-down-outline"
      pullingText="zuletzt aktualisiert: {{ lastUpdated | date:'medium' }}"
      refreshingSpinner="crescent"
      refreshingText="Vorlesungen werden geladen..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- archive status warning -->
  <div
    class="warning warning--clickable"
    *ngIf="isArchive"
    (click)="triggerArchive()"
    title="Zum Deaktivieren klicken"
  >
    <ion-icon name="alert-circle"></ion-icon>
    <ion-label>Du befindest dich gerade in der Archivansicht.</ion-label>
  </div>

  <!-- searchbar -->
  <ion-searchbar
    *ngIf="course && blocks.length > 0"
    animated
    showCancelButton="focus"
    mode="ios"
    placeholder="Suchen..."
    cancelButtonText="Abbrechen"
    (ionChange)="search($event)"
    enterkeyhint="search"
    #searchBar
  ></ion-searchbar>

  <!-- improve exam recognition cta -->
  <div
    class="examInfo__wrapper"
    *ngIf="segment && segment.value === 'exams'"
    routerLink="/report"
  >
    <ion-icon name="information-circle-outline"></ion-icon>
    <span
      >Falsche oder fehlende Klausur gefunden? Klicke hier, um die
      Klausurerkennung zu verbessern.</span
    >
  </div>

  <!-- Segment -->
  <ion-segment
    class="segment"
    scrollable
    (ionChange)="setDisplayedBlocksToSegment()"
    mode="ios"
    #segment
    value="all"
  >
    <ion-segment-button value="changes" *ngIf="hasChanges && !isArchive">
      <ion-label>Änderungen ({{ counts[2] }})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>Alle ({{ counts[0] }})</ion-label>
    </ion-segment-button>
    <ion-segment-button
      value="presence"
      *ngIf="counts[3] !== counts[0] && !isArchive"
    >
      <ion-label>Präsenz ({{ counts[3] }})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="exams" *ngIf="counts[0] !== 0">
      <ion-label>Klausuren ({{ counts[1] }})</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- No search results message -->
  <div
    *ngIf="displayedBlocks.length === 0 && course && blocks.length > 0"
    class="wrapper"
  >
    Deine Suche hat keine Treffer ergeben.
  </div>

  <!-- No lectures message -->
  <div
    *ngIf="course && blocks.length === 0 && !isArchive"
    class="wrapper msg--noLectures"
  >
    Für den Kurs {{ course }} gibt es aktuell keine Vorlesungen. Viel Spaß in
    der Praxisphase!
  </div>

  <!-- No archive message -->
  <div *ngIf="course && blocks.length === 0 && isArchive" class="wrapper">
    Für den Kurs {{ course }} gibt es noch keine archivierten Vorlesungen oder
    es ist ein Fehler aufgetreten.
  </div>

  <div
    class="warning warning--clickable"
    *ngIf="!course"
    routerLink="/settings"
  >
    <ion-icon name="alert-circle"></ion-icon>
    <ion-label>Bitte wähle einen Kurs aus.</ion-label>
  </div>

  <!-- Skeleton -->
  <div class="block" *ngIf="!course">
    <app-block skeleton="lecture"></app-block>
  </div>

  <app-block *ngFor="let block of displayedBlocks" [block]="block"></app-block>
</ion-content>

<app-lecture-status-fab *ngIf="!isArchive"></app-lecture-status-fab>
<app-scroll-btn *ngIf="isArchive" direction="both"></app-scroll-btn>
