<app-header title="Veranstaltungsdetails" [back]="true"></app-header>

<ion-content class="app-spacing" [fullscreen]="true">
  <div class="wrapper" *ngIf="event">
    <p class="title">{{ event.name }}</p>

    <!-- location -->
    <div class="detail">
      <ion-icon name="location-outline"></ion-icon>
      <ion-text *ngIf="event.location">{{ event.location }}</ion-text>
      <ion-text class="placeholder" *ngIf="!event.location"
        >Nicht angegeben</ion-text
      >
    </div>

    <!-- time -->
    <div class="detail">
      <ion-icon name="time-outline"></ion-icon>
      <ion-text
        >Von:
        <span *ngIf="event.start">
          {{ event.start | date:"d. MMMM y, HH:mm" }} Uhr
        </span>
        <span *ngIf="!event.start" class="placeholder">Nicht angegeben</span>
      </ion-text>
    </div>
    <div class="detail">
      <ion-icon name="time-outline"></ion-icon>
      <ion-text
        >Bis:
        <span *ngIf="event.end">
          {{ event.end | date:"d. MMMM y, HH:mm" }} Uhr
        </span>
        <span *ngIf="!event.end" class="placeholder">Nicht angegeben</span>
      </ion-text>
    </div>

    <!-- description -->
    <p class="title description__title">Beschreibung:</p>
    <p class="event__description">{{ event.description }}</p>
  </div>

  <!-- placeholder when event is not set -->
  <div class="warning warning--danger" *ngIf="!event">
    <p>Beim Abruf der Eventdetails ist ein Fehler aufgetreten.</p>
  </div>
</ion-content>
