.setting {
  box-shadow: var(--app-box-shadow);
  border-radius: var(--app-border-radius);
  border: 1px solid var(--ion-border-color);
  --min-height: 56px;

  ion-icon {
    color: var(--ion-color-dark);
  }

  span {
    font-weight: 500;
  }

  ion-select {
    width: 100%;
    font-weight: 500;
  }
}
