<app-header title="Kurs auswählen"></app-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-searchbar
      animated
      showCancelButton="focus"
      mode="ios"
      placeholder="Suchen..."
      cancelButtonText="Abbrechen"
      (ionChange)="searchCourse($event)"
      enterkeyhint="search"
      #searchbar
    ></ion-searchbar>

    <div *ngIf="courseGroups.length > 0 && displayedGroups.length === 0">
      <p>Deine Suche hat keine Treffer ergeben.</p>
    </div>

    <div *ngIf="courseGroups.length === 0">
      <ion-label>Kurse werden geladen...</ion-label>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
  </div>

  <ion-list *ngFor="let group of displayedGroups">
    <ion-item-divider>
      <ion-label> {{ group.name }} </ion-label>
    </ion-item-divider>

    <ion-item lines="none" *ngFor="let course of group.courses">
      <ion-checkbox
        (ionChange)="select($event, course)"
        [checked]="selectedCourse === course"
      ></ion-checkbox>
      <ion-label>{{ course }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
