.wrapper {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: var(--app-color-block);
  border: 1px solid var(--app-color-border);
}

p {
  line-height: 1.4em;
}

ol {
  font-size: 15px;

  li {
    margin-bottom: 5px;
  }
}
