<app-header title="Über die App" [back]="true"></app-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="wrapper">
    <p>
      Mehr Informationen zur Herkunft der Daten / API:
      <a href="https://api.rickstack.de/help" target="_blank"
        >https://api.rickstack.de/help</a
      >
    </p>

    <br />

    <ol>
      <li>
        Diese App ist keine offizielle App der DHBW, sondern sie soll ein Ersatz
        für die teilweise unoptimierte (<em>*hust*</em> iOS <em>*hust*</em>)
        offizielle App sein.
      </li>
      <li>
        Zwar werden die Vorlesungen und Veranstaltungen von den offiziellen DHWB
        Kalendern bezogen, doch ich gebe dennoch keine Garantie für die
        Korrektheit der Daten.
      </li>
    </ol>
  </div>
</ion-content>
