<app-header [back]='true' title='Über die App'></app-header>

<ion-content [fullscreen]='true'>
  <div class='wrapper'>
    <p>Deine App Version: {{ version }}</p>
    <br />

    <p>
      Mehr Informationen zur Herkunft der Daten / API:
      <a href='https://api.rickstack.de/docs' target='_blank'
      >https://api.rickstack.de/docs</a
      >
    </p>
    <p>
      Vorlesungsplan+ auf GitHub:
      <a
        href='https://github.com/larsrickert/vorlesungsplan-plus'
        target='_blank'
      >https://github.com/larsrickert/vorlesungsplan-plus</a
      >
    </p>

    <br />

    <ol>
      <li>
        Diese App ist keine offizielle App der DHBW, sondern sie soll ein Ersatz
        für die teilweise unoptimierte (<em>*hust*</em> iOS <em>*hust*</em>)
        offizielle App sein.
      </li>
      <li>
        Zwar werden die Vorlesungen und Veranstaltungen von den offiziellen DHWB
        Kalendern bezogen, doch ich gebe dennoch keine Garantie für die
        Korrektheit der Daten.
      </li>
    </ol>
  </div>
</ion-content>
