<ion-item-sliding #sliding *ngIf="task && !skeleton" [disabled]="disabled">
  <ion-item-options side="start">
    <ion-item-option
      [class.option--last-left]="isLast"
      color="danger"
      (click)="delete()"
      >Löschen</ion-item-option
    >
  </ion-item-options>

  <ion-item
    [class.item--last]="isLast"
    [class.item--accent]="accent"
    lines="none"
  >
    <div *ngIf="task" class="task" [class.task--last]="isLast">
      <div class="task__content">
        <ion-label *ngIf="task.name" class="task__name"
          >Aufgabe: {{ task.name }}</ion-label
        >

        <!-- Meta -->
        <div class="task__meta">
          <ion-text *ngIf="task.end" class="task__date">
            Abgabe bis: {{ task.end | date: 'H:mm' }} Uhr
          </ion-text>
          <ion-text class="task__lecture" *ngIf="task.lecture"
            >Vorlesung: {{ task.lecture }}</ion-text
          >

          <div *ngIf="task.notes" class="task__notes">
            <ion-text>Beschreibung: {{ task.notes }}</ion-text>
          </div>
        </div>
      </div>
    </div>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option [class.option--last-right]="isLast" (click)="edit()"
      >Bearbeiten</ion-item-option
    >
  </ion-item-options>
</ion-item-sliding>

<!-- Skeleton -->
<div *ngIf="skeleton">
  <div class="skeleton__content">
    <div>
      <ion-skeleton-text animated class="skeleton__name"></ion-skeleton-text>

      <div>
        <ion-skeleton-text animated class="skeleton__date"></ion-skeleton-text>
        <ion-skeleton-text
          animated
          class="skeleton__lecture"
        ></ion-skeleton-text>

        <div class="flex">
          <ion-skeleton-text
            animated
            class="skeleton__notes"
          ></ion-skeleton-text>
        </div>
      </div>
    </div>
  </div>
</div>
