.event {
  padding: 12px 20px;
  overflow: hidden;
  cursor: pointer;
  outline: 0;

  &--last {
    border-radius: 0 0 10px 10px;
  }

  &--disabled {
    cursor: default;
  }

  &__name {
    font-weight: 600;
    display: block;
    white-space: normal;
  }

  &__content {
    width: 100%;
  }

  &__meta {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: var(--ion-color-medium);
  }

  &__location {
    margin-top: 10px;
  }
}

.event:hover {
  background: var(--app-color-grey-medium);
}
