<div class="block" *ngIf="block && !skeleton">
  <!-- headings (e.g "morgen", "heute", etc.) -->
  <ion-label class="block__heading" *ngIf="dateString">
    {{ dateString }}
  </ion-label>

  <ion-label class="block__heading" *ngIf="!dateString">
    {{ block.date | date: 'fullDate' }}
  </ion-label>

  <!-- items -->
  <div
    class="block__item-wrapper"
    *ngFor="let item of block.items; let i = index"
  >
    <app-lecture
      *ngIf="lectureBlock"
      [lecture]="item"
      [isLast]="i === block.items.length - 1"
    ></app-lecture>

    <app-event
      *ngIf="eventBlock"
      [event]="item"
      [isLast]="i === block.items.length - 1"
    ></app-event>

    <app-task
      *ngIf="taskBlock"
      [task]="item"
      [isLast]="i === block.items.length - 1"
      [accent]="i % 2 === 0"
      [disabled]="disabled"
    ></app-task>
  </div>
</div>

<!-- skeleton -->
<div *ngIf="skeleton" class="block">
  <div class="block__heading">
    <ion-skeleton-text animated class="skeleton__date"></ion-skeleton-text>
  </div>

  <app-lecture *ngIf="skeleton === 'lecture'" [skeleton]="true"></app-lecture>
  <app-task *ngIf="skeleton === 'task'" [skeleton]="true"></app-task>
</div>
