ion-slides {
  height: 100%;
}

.swiper-slide {
  display: block;
  padding: 60px 20px;

  @media (min-width: 426px) and (max-width: 768px) {
    padding: 60px;
  }

  @media (min-width: 769px) {
    padding: 7% 20%;
  }

  ​ h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .logo {
    max-height: 100px;
    margin-bottom: 40px;
  }
}

b {
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

app-block {
  text-align: left;
}

.swipe-hint {
  margin-top: 20px;

  @media (max-width: 768px) {
    display: none;
  }
}

.selection {
  margin-top: 40px;
  text-align: left;

  ion-item {
    --background: transparent;
    --inner-padding-end: 0;
    cursor: pointer;
  }

  ion-select {
    font-size: 17px;
  }

  .complete-btn {
    --border-radius: 50px;
    margin-top: 20px;
    width: 100%;
  }
}
