.content {
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 24px;
  --padding-bottom: 24px;
}

ion-segment {
  margin-bottom: 40px;
}

.accordion {
  background: var(--app-color-grey-light);
  border-radius: var(--app-border-radius);
  margin-bottom: 20px;
  border: 1px solid var(--app-color-border-contrast);

  summary {
    outline: 0;
    cursor: pointer;
    padding: 20px;
  }

  .accordion_content {
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__screenshot {
    max-height: 30em;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
    margin-top: 20px;
  }
}

.download-script {
  margin-top: 10px;
}

.downloadApk {
  margin-top: 10px;
  margin-left: 0;
}
